# reformatting package-lock.json is fine actually, makes it easier to read

# can't use prettier for these files anyways
# NOTE: using ".." since CI requires reformatting *all* files including those in the parent folder
../**/*.png
../**/.DS_Store
.prettierignore
.npmrc

# no touching .svelte-kit (this will be regenerated anyways)
.svelte-kit/**/*