aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1713964904633/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1716290248287/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1717693030552/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1715091184126/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1695989934239/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1718025014955/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1696001750083/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1718377043174/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1706434688412/work
diskcache @ file:///home/conda/feedstock_root/build_artifacts/diskcache_1693471346238/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1709190728464/work
email_validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1718984626658/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1715196982285/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/fastapi-cli_1716205772095/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1719088281970/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1712667726126/work
frozenlist @ file:///Users/runner/miniforge3/conda-bld/frozenlist_1702645586863/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1715865800631/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1711596990900/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1708530890843/work
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1718660171803/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1719361860083/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1713372668944/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
llama_cpp_python @ file:///Users/runner/miniforge3/conda-bld/llama-cpp-python_1703026644507/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1706900018209/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1707040773807/work
multiprocess @ file:///Users/runner/miniforge3/conda-bld/multiprocess_1706514679765/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1718615068645/work/dist/numpy-2.0.0-cp39-cp39-macosx_11_0_arm64.whl#sha256=99944c34942683e8de8e9e4670b40ab9a1074434d9ccf9f5f4fd5dcb06924f5a
orjson @ file:///Users/runner/miniforge3/conda-bld/orjson_1718073308104/work/target/wheels/orjson-3.10.4-cp39-cp39-macosx_11_0_arm64.whl#sha256=ec6d7b9633d4b3336ed97b8e5bddb87353085f1e616dfc06b7796d29dc9d5d99
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1715897641697/work
pyarrow==16.1.0
pyarrow-hotfix @ file:///home/conda/feedstock_root/build_artifacts/pyarrow-hotfix_1700596371886/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1718228705123/work
pydantic-settings @ file:///home/conda/feedstock_root/build_artifacts/pydantic-settings_1719264359828/work
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/pydantic-core_1717462882446/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv-split_1706018097647/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1707760088566/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1695373497981/work
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1715828448318/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1709150387247/work/dist
safetensors @ file:///Users/runner/miniforge3/conda-bld/safetensors_1713253504507/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1698144360966/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1708952932303/work
sse-starlette @ file:///home/conda/feedstock_root/build_artifacts/sse-starlette_1718465596153/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1709667058396/work
starlette-context @ file:///home/conda/feedstock_root/build_artifacts/starlette-context_1676743447281/work
tokenizers @ file:///Users/runner/miniforge3/conda-bld/tokenizers_1713402817217/work/bindings/python
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1714854870413/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1717134942618/work
typer==0.12.3
typer-slim==0.12.3
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
ujson @ file:///Users/runner/miniforge3/conda-bld/ujson_1715783195677/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1719391292974/work
uvicorn @ file:///Users/runner/miniforge3/conda-bld/uvicorn-split_1717405012652/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1715000201436/work
xxhash @ file:///Users/runner/miniforge3/conda-bld/python-xxhash_1696486537312/work
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1705508345570/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1718013267051/work
zstandard==0.22.0
